@import "config";

.left.column {
    background: $basecolor;
    $color: white;
    color: $color;
    position: relative;
    box-sizing: border-box;
    border-right: 2px solid $basecolor;

    .wrapper {
        padding: 10px;
        z-index: 1000;
    }
    .pie-chart {
        display: inline-block;
        width: 45%;
        svg text {
            font-family: $special-font !important;
            fill: white !important;
        }

        svg g:nth-child(n+2) path {
            stroke: $basecolor !important;
            storke: 4px;
        }

        svg .p0_pieChart g {
            .path:nth-child(1){
                fill: "white" !important;
            }
            .path:nth-child(2){
				fill: "white" !important;
            }
        }

        .p0_tooltips text, .p1_tooltips text{
            fill: $lightcolor !important;
        }
    }

    table {
        width: 80%;
        padding: 0px 20px;
        margin: 0px auto;
        tr:nth-child(1){
            font-weight: bold;
        }

            td:nth-child(3){
                text-align: right;
            }
    }

    .header {
        padding: 10px;
        background: $basecolor;
        color: white;
        margin-bottom: 10px;
        h1 {
            margin: 0px 0px 2px 0px;
            padding: 0px;
            font-size: 30px;
        }
    }


    #year-selector {
        font-size: 20px;
    }
    .year  {
        font-size: 15px;
        text-indent: 10px;
        margin-bottom: 5px;
    }
}
