@import "config";

body {
  font: 10px sans-serif;
}


#timeline {
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }

    .right-block {
        float: right;
    }

    .wrapper {
        padding: 10px;
    }

    ul {
        display: inline-block;
        padding-left: 0px;
        margin: 0px 10px 0px 0px;
        li {
            display: inline-block;
            line-height: 20px;
            span {
                vertical-align: middle;
                font-size: 20px;
            }
            .close {
                opacity: 0;
            }

            &:hover {
                .close { opacity: 1; }
            }
        }
    }

    .more-country-button {
        font-size: 15px;
        cursor: pointer;
        &.clicked {
            i {
                transform: rotate(45deg);
            }
        }
    }
    .legend {
        padding: 0px 3px;
    }

    .country-panel {
        $width: 200;
        $padding: 5;
        display: none;
        position: absolute;
        border: 2px solid $basecolor;
        background: white;
        right: 0px;
        width: $width + px;
        height: 200px;
        padding: $padding + px;

        .country-wrapper {
            background: white;
            overflow: scroll;
            border-bottom: 1px solid $basecolor;
        }

        &.showed {
            display: block;
        }

        .country {
            padding: 3px 0px;
            font-weight: bold;
            &.hide {
                display: none;
            }
        }

        input {
            position: absolute;
            bottom: $padding + px;
            width: $width - 2*$padding + px;
            padding: $padding + px;
            margin: 0px;
            border: 0px;
        }

    }

}

#timeline #chart {
    .tick {
        cursor: pointer;
    }

    .x.axis {
        line {
            display: none;
        }
    }
    .focus-line {
            stroke-dasharray: 2,2;
            stroke: black;
            &.current {
                stroke: red;
                opacity: 0.7;
            }
    }

    .year-bullet {
        cursor: pointer;
        stroke: grey;
        stroke-width: 3px;
        fill: grey;
        z-index: 1000;

        &.selected {
            fill: white;
        }
    }

    #relative-chart {
        display: none;
    }
}

.timeline-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.timeline-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
