body {
  font: 10px sans-serif;
}


#timeline {
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke-width: 1.5px;
    }

    ul {
        display: inline-block;
        float: right;
        padding-left: 0px;
        li {
            display: inline-block;
            line-height: 20px;
            span {
                vertical-align: middle;
                font-size: 20px;
            }
        }
    }
    .legend { 
        padding: 0px 3px;
    }

}

#timeline #chart {
    .tick {
        cursor: pointer;
    }

    .x.axis {
        line {
            display: none;
        }
    }
    .focus-line {
            stroke-dasharray: 2,2;
            stroke: black;
            &.current {
                stroke: red;
                opacity: 0.7;
            }
    }

    .year-bullet {
        cursor: pointer;
        stroke: grey;
        stroke-width: 3px;
        fill: grey;
        z-index: 1000;

        &.selected {
            fill: white;
        }
    }
}

.timeline-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.timeline-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
