// bower:scss
// endbower

@import "config";

$padding: 5px;
$font-size: 1em;

$font-family: 'Oswald', sans-serif;
$left-width: 25;

html, body {
  background: white;
  font-family: $font-family;
  color: #333;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $font-size;
}


.column {
    float: left;
    height: 100%;

    &.left {
        width: $left-width + %;
    }

    &.right {
        width: ( 100 - $left-width ) + %;
        $map-height: 65;
        #map { 
            height: $map-height + %;
            z-index: 0px;
        }
        #timeline {
            border-top: 2px solid $basecolor;
            background: white;
            // height : ( 100 - $map-height ) + %;
            z-index: 2000;
        }
    }
}

#country-overlay{
  position: absolute;
  top: 0px;
  width: ( 100 - $left-width ) + %;
  height: 100%;
  z-index: 3000;
  background-color: #ffffff; /*dim the background*/
}
