// bower:scss
// endbower

@import "config";

$padding: 5px;
$font-size: 1em;
$font-family: 'Oswald', sans-serif;

html, body {
  background: #3D2802;
  font-family: $font-family;
  color: #333;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $font-size;
}

.column {
    float: left;
    height: 100%;

    $left-width: 25;

    &.left {
        width: $left-width + %;
    }

    &.right {
        width: ( 100 - $left-width ) + %;
        $map-height: 65;
        #map { 
            height: $map-height + %;
            z-index: 0px;
        }
        #timeline {
            border-top: 2px solid $basecolor;
            background: white;
            height : ( 100 - $map-height ) + %;
            z-index: 2000;
        }
    }
}

#countryOverlay{
  position: absolute;
  top: 30px;
  left: 500px;
  width: 60%;
  height: 60%;
  z-index: 10;
  background-color: #2E4172; /*dim the background*/
}
