// bower:scss
// endbower

@import "config";

$padding: 5px;
$font-size: 1em;

$left-width: 25;

html, body {
  color: #333;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: $font-size;
}

.special-font {
    font-family: $special-font;
}

.clickable {
    cursor: pointer;
}

.column {
    float: left;
    height: 100%;

    &.left {
        width: $left-width + %;
    }

    &.right {
        width: ( 100 - $left-width ) + %;
        $map-height: 65;
        #map { 
            position: relative;
            height: $map-height + %;
            z-index: 0px;
        }
        #timeline {
            border-top: 2px solid $basecolor;
            background: white;
            // height : ( 100 - $map-height ) + %;
            z-index: 2000;
        }
    }
}

#overall-trend {
    svg text {
        fill: white;
    }

    .line {
        fill: none;
        stroke: white;
        stroke-width: 2px;
    }

    .y.axis {
        display: none;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: white;
      stroke-width: 0.5px;
      shape-rendering: crispEdges;
    }
    .x.axis path {
      display: none;
    }

    .year-pointer {
        fill: white;
        stroke: white;
        stroke-width: 2px;
    }
}

#country-overlay{
    width: ( 100 - $left-width ) + %;
}
