@import 'config';

#map {
    height:100%;
    overflow:hidden;
    background: #DOF5F5;

    .text{
        font-size:10px;
        text-transform:capitalize;
    }

    .country {
        stroke: #ccc;
        stroke-width: 1px;

        &.valid-country {
            cursor: pointer;
        }
    }

    .valid-country:hover{
        stroke: black;
        opacity: 0.3;
        stroke-width: 1.5px;
    }

}

.hidden {
    display: none;
}

div.tooltip {
    .wrapper {
        padding: 10px;

        div {
            position: relative;
            color: white;
            z-index: 2000;
            display: inline-block;

            &.country-name {
                font-size: 16px;
                font-weight: bold;
                margin-right: 6px;
            }

            &.rank {
                font-size: 13px;
                font-weight: bold;
                margin-right: 3px;
            }

            .number {
                font-weight: bold;
            }
        }
    }
    .background {
        background: black;
        opacity: 0.8;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    position: absolute;
    &.hidden {
        display: none;
    }
}

.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}


.legend {
  font-size: 12px;
}
