.country {
    stroke: #ccc;
    stroke-width: 1px;
}

.country:hover{
    stroke: #ddd;
    stroke-width: 2px;
}

.text{
    font-size:10px;
    text-transform:capitalize;
}

#map {
    height:100%;
    overflow:hidden;
    background: #B1FAF6;
}

.hidden {
    display: none;
}

div.tooltip {
    color: #222; 
    background: #fff; 
    padding: .5em; 
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px; 
    box-shadow: 0px 0px 2px 0px #a6a6a6; 
    opacity: 0.9; 
    position: absolute;
    &.hidden {
        display: none;
    }
}

.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}


.legend {
  font-size: 12px;
}
