@import "config";

#country-overlay {
    border-radius: 25px;
    border: 2px solid #73AD21;
    position: absolute;
    top: 20px;
    left: 7%;
    height: 93%;
    width: 85%;
    z-index: 3000;
    background: white;
    overflow: hidden;

    h2 {
        margin: 0px 0px 35px 0px;
    }

    h3 {
        font-size: 12px;
    }

    .wrapper {
        padding: 50px;
    }
    svg {
        height: 30% !important;
    }
}

#close-overlay-button {
    $font-size: 15px;
    float:right;
    z-index: 5000;
    position: absolute;
    right: 10px;
    top: 0px;
    color: white;
    cursor: pointer;
    background:     $basecolor;
    padding:        $font-size;
    font-size:      $font-size;
    line-height:    $font-size;
}

// #totalChart svg {
//     height: 250px;
//     width: 800px
// }

// #genderChart svg {
//     height: 250px;
//     width: 800px
// }


// #ageChart svg {
//     height: 250px;
//     width: 800px
// }
