#close-overlay-button {
	float:right;
    z-index: 5000;
    position: absolute;
    right: 0px;
}

#totalChart svg {
  height: 250px;
  width: 800px
}

#genderChart svg {
  height: 250px;
  width: 800px
}


#ageChart svg {
  height: 250px;
  width: 800px
}
